{
  "name": "{{ project_slug }}",
  "version": "{{ project_version }}",
  "private": true,
  "packageManager": "pnpm@{{ tool_versions.pnpm }}",
  "engines": {
    "node": "{{ tool_versions.nodejs }}",
    "pnpm": "{{ tool_versions.pnpm }}"
  }
}
